[Unit]
Description=Dropbear SSH Server
After=network.target

[Service]
Type=forking
PIDFile=/run/dropbear.pid
ExecStart=/usr/sbin/dropbear -p 143 -p 109 -P /run/dropbear.pid -b /etc/banner.txt
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target